.Pin {
    position: absolute;
    width: 50%;
    pointer-events: none;

    .PinCon {
        position: relative;
        display: inline-flex;
        align-items: center;
        height: 20px;
        line-height: 0px;
        font-size: 0px;
        width: min-content;
        left: 100%;
        transform: translateX(-100%);

        .Title {
            position: relative;
            display: inline-block;
            width: min-content;
            white-space: nowrap;
            height: 20px;
            line-height: 20px;
            font-size: 14px;
            color: #00ca87;

        }

        .Circle {
            position: relative;
            display: inline-block;
            width: 14px;
            height: 14px;
            border-radius: 50%;
            box-sizing: border-box;
            border: 1px solid #ffffff;
            margin-left: 5px;
            margin-right: 10px;
            cursor: pointer;
            transition: all 0.15s;
            pointer-events: all;

            &:hover {
                border: 1px solid #2b9471;
            }

            .Inner {
                position: absolute;
                width: 50%;
                height: 50%;
                inset: 0;
                margin: auto;
                background: #2b9471;
                border-radius: 50%;
            }
        }
    }

    .Left {
        left: 5px;
        transform: none;

        .Circle {
            margin-left: 5px;
            margin-right: 5px;
        }
    }
}